{% extends "layout.html" %}
{% load static %}
{% block title %}Shop | Media Store{% endblock %}

{% block content %}
<main class="shop-container">
  <aside class="shopping-cart">
    <div class="cart-link">
        <a href="{% url 'view_cart' %}" class="btn-cart-link">View Cart</a>
    </div>
  </aside>

  <section class="product-grid-section">
    <header class="product-header">
      <h1>Welcome to the Media Store!</h1>
      <p id="welcome_message">Take a look at our selection!</p>

      <div class="product-filter">
        <label for="filterSelect">Filter Items:</label>
        <select id="filterSelect" name="filterSelect">
          <option value="All Items">All Items</option>
          <option value="book">Books</option>
          <option value="movie">Movies</option>
          <option value="record">Records</option>
          <option value="game">Video Games</option>
        </select>

        <label for="inStockOnly">
          <input type="checkbox" id="inStockOnly" name="inStockOnly">
          Show In-Stock Only
        </label>
      </div>
    </header>

    {% if media_items %}
    <div class="product-grid">
      {% for item in media_items %}
      <div class="product-card" data-type="{{ item.media_type }}">
        <div class="product-info">
          <h3 class="product-title">{{ item.title }}</h3>
          <p class="product-genre">{{ item.genre }} | {{ item.get_media_type_display }}</p>

          <div class="product-price">
                <a href="{% url 'add_to_cart' slug=item.slug %}" class="cart-button">Add to Cart</a>
            {% if item.stock_quantity > 0 %}
                <a href="{% url 'buy_now' slug=item.slug %}" class="buy-button">Buy Now</a>
            {% else %}
                <button class="buy-button" disabled>Buy Now</button>
            {% endif %}
          </div>


          <a href="{% url 'item_info' slug=item.slug %}" class="btn-view">View Item</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <p class="empty-msg">No items currently in stock.</p>
    {% endif %}
  </section>
</main>
{% endblock %}
