{% extends 'layout.html' %}

{% block title %}
    Media List
{% endblock %}

{% block content %}
    <section>
    <h1>Media List</h1>
        {% for item in media_items %}
            <article class="media">
                <h2>
                    <a href="{% url 'page' slug=item.slug %}">
                        {{item.title}}
                    </a>
                </h2>
                <p>{{ item.genre }}</p>
                <p>{{ item.buyprice }}</p>
                <p>{{ item.stock_quantity }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}