* {
    color: white;
    background-color: black;
}

product-title {
    color: white;
}

product-title {
    color: white;
}

product-title {
    color: white;
}

buy-button {
    color: white;
}

cart-button {
    color: white;
}