* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.product-header {
    padding: 80px;
    text-align: center;
    background: black;
    color: white;
}

.main {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.product-header h1 {
    font-size: 40px;
}

.shop-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.shopping-cart {
    -ms-flex: 15%;
    flex: 15%;
    background-color: grey;
    padding: 20px;
}

.product-grid-section {
    -ms-flex: 85%;
    flex: 85%;
    background-color: white;
    padding: 20px;
}

.product-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    width: 30%;
    border: black;
    border-width: thin;
    border-style: solid;
    border-radius: 8px;
    margin: 5px;
}

.product-title {
    justify-self: center;
}

.product-genre {
    justify-self: center;
}

.product-price {
    justify-self: center;
}

@media screen and (max-width: 700px) {
    .shop-container {
        flex-direction: column;
    }
}